.section{
  width: 100%;
}

.back{
  max-height: 500px;
  overflow: hidden;
}

.back img{
  height: auto;
  width: 100%;
}

.page-header{
  background: rgba(240, 212, 255, 0.9);
  display: flex;
  padding: 50px 20px;
  position: fixed;
  justify-content: space-around;
  transition: .5s;
  width: 100%;
}
.page-header.transform{
  background: rgba(240, 212, 255, 0.72);
  padding: 5px;
}

.bode-logo img{
  height: 100px;
  width: auto;
}

.bode-navi-menu{
  display: flex;
  list-style: none;
}

.bode-navi-menu-item{
  margin-left: 20px;
  color: #0e0d0d;
  font-weight: bold;
  text-shadow:
    #ffffff 1px 1px 0, #ffffff -1px -1px 0,
    #ffffff -1px -1px 0, #ffffff  1px -1px 0,
    #ffffff  0px 1px 0, #ffffff  0 -1px 0,
    #ffffff  -1px 0 0, #ffffff  1px 0 0;
}

.bode-navi-menu-item a{
  color: #232323;
  text-decoration: none;
}

.bode-navi-menu-item a:hover{
  background-color: rgba(0, 244, 244, 0.42);
}

.content{
  line-height: 1.6;
  margin: 0 auto;
  padding-top: 100px;
  width: 800px;
}

.content-box{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #000000;
  background: #FFF0FF;
  border-top: solid 3px #ff8eff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.32);
}

.content-box p{
  margin-bottom: 60px;
}

.content-box h2{
  padding-top: 300px;
  margin-top: -300px;
  color: #0e0d0d;
  text-shadow:
    #ffffff 1px 1px 0, #ffffff -1px -1px 0,
    #ffffff -1px -1px 0, #ffffff  1px -1px 0,
    #ffffff  0px 1px 0, #ffffff  0 -1px 0,
    #ffffff  -1px 0 0, #ffffff  1px 0 0;
}
